.bodyBack{
    width: 30px;
    padding-bottom: 3%;
}

.Botones_editarUsuario{
    width: 100%;
    display: flex;
}

.botones{
    width: 50%;
}

#guardar{
    margin-right: 2%;
}

.BotonEliminar{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.card{
    margin-top: 10%;
    padding: 3% 10% 3% 10%;
}