.contenedor{
    width: 100%;
}

form{
    display: flex;
    width: 100%;
}


.columna-left{
    width: 40%;
    margin: 3%;
}


.columna-right{
    width: 50%; 
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.main-editor{
    height: 30%;
}

.btn{
    margin-top: 5%;
}

@media screen and (max-width: 1400px) {
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .columna-left{
        width: 95%;
    }

    .columna-rigth{
        width: 95%;
    }
}