html{
    font-family: 'Segoe UI';
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.carta{
    width: 100%;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.fondoCarta{
    margin-top: -7rem;
    width: 100%;
    height: 400px;
    z-index: 1;
}
.fotoPerfil{
    position: relative;
    margin-top: -4.5rem;
    border-radius: 80px;
    width: 150px;
    border: 1px solid rgb(155, 155, 155);
    z-index: 2;
}

.infoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario-effect{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario{
    margin-top: 0.5rem;
    font-size: 25px;
    font-weight: bold;
}

.rol-effect{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rol{
    margin-top: -20px;
    font-weight: bold;
    font-size: 15px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.block-effect2 {
    font-size: calc(8px + 6vw);
}

.block-reveal2 {
    --t: calc(var(--td) + var(--d));

    color: transparent;
    padding: 4px;

    position: relative;
    overflow: hidden;

    animation: revealBlock2 0s var(--t) forwards;
}

.block-reveal2::after {
    content: '';

    width: 0%;
    height: 100%;
    padding-bottom: 4px;

    position: absolute;
    top: 0;
    left: 0;

    background: #FFF;
    animation: revealingIn2 var(--td) var(--d) forwards, revealingOut2 var(--td) var(--t) forwards;
}

@keyframes revealBlock2 {
    100% {
        color: #a3a3a3;
    }
}

@keyframes revealingIn2 {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes revealingOut2 {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }

}

.botonEditar{
    margin: 10px 0px 40px 0px;
}

.editarInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form{
    width: 40%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .fondoCarta{
        height: 340px;
    }

    form{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}
