.bodyBack{
    width: 30px;
    padding-bottom: 3%;
}

.Botones_editarUsuario{
    width: 100%;
    display: flex;
}

.botones{
    width: 50%;
}

#guardar{
    margin-right: 2%;
}

.BotonEliminar{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.card{
    padding: 3% 10% 3% 10%;
}

.modal-footer{
    display: flex !important;
    justify-content: space-between !important;
}

div.content {
    height: 100vh;
}

@media screen and (max-width: 700px) {  

    .botones{
        width: 100%;
    }
}