


.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#agregar{
    margin-right: 10px;
}

.Botones_Computador{
    display: flex;
    align-items: center;
}

.alert{
    margin-top: 1%;
}

div.content {
    height: 100vh;
}
