.alert{
    width: 100%;
    font-size: small;

}

.table>:not(caption)>*>* {
    padding: .9rem .5rem !important;
}

.table{

    --bs-table-border-color: #f1f3f6 !important;
}

.page-link{
    color: #02519a !important;
}

.active>.page-link, .page-link.active{
    background-color: #02519a !important;
    border-color: #02519a !important;
    color: #ffffff !important;
}

div.content {
    height: 100vh;
}

@media screen and (max-width: 700px) {
    .alert{
        display: flex;
        align-items: center;
    }
}
