*{
    margin: 0;
    padding: 0;
}


.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Botones_Reportes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert{
    width: 100%;
}

.listReport{
    width: 90%;
}

#verReporte {
    color: inherit; 
    text-decoration: none; 
}


#verReporte:hover {
    text-decoration: underline;
}

.button_slide{
    text-align: center;
    text-decoration: none;
}

.page-link{
    color: #02519a !important;
}

.active>.page-link, .page-link.active{
    background-color: #02519a !important;
    border-color: #02519a !important;
    color: #ffffff !important;
}

div.content {
    height: 100vh;
}

@media screen and (max-width: 900px) {

    .reporte_2{
        width: 100%;
        margin-top: 1%;
    }

    .button_slide{
        width: 100%;
    }
}
