*{
    margin: 0;
    padding: 0;
}


.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#agregar{
    margin-right: 10px;
}

.Botones_Usuario{
    display: flex;
    align-items: center;
}

.alert{
    margin-top: 1%;
}