{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_editar_usuario.css')}}">
{% endblock %}

{% block content %}

<div class="card text-start mb-3">
    <div class="bodyBack">
        <a id="botonBack" href="{{url_for('computadores')}}" aria-valuetext="a"><img id="imgBack"
                src="{{ url_for('static', filename='img/icon-back.png')}}" alt="icon-back" width="30px"></a>
    </div>
    <form id="editForm" method="post" action="{{ url_for('editar_computador_form') }}">
        <div class="modal-body">
            <input type="hidden" name="id_pc" id="id_pc" value="{{ pc['Id_pc'] }}">
            <input type="hidden" name="action" id="action" value="">
            <h2>Editar Computador</h2>
            <p>Actualiza la informacion del computador <b>{{ pc['Nombre_pc'] }} (#{{ pc['Id_pc'] }}) </b></p>

            <div class="form-floating mb-3">
                <input type="text" id="nombre_computador" name="nombre_computador" class="form-control" placeholder=""
                    value="{{ pc['Nombre_pc'] }}">
                <label for="nombre_computador">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="nombre_placa" name="nombre_placa" class="form-control" placeholder=""
                    value="{{ pc['Placa'] }}">
                <label for="nombre_placa">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="almacenamiento" name="almacenamiento" class="form-control" placeholder=""
                    value="{{ pc['Almacenamiento'] }}">
                <label for="almacenamiento">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="ram" name="ram" class="form-control" placeholder=""
                    value="{{ pc['Ram'] }}">
                <label for="ram">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="fuente" name="fuente" class="form-control" placeholder=""
                    value="{{ pc['Fuente'] }}">
                <label for="fuente">Nombre</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger"
                onclick="document.getElementById('action').value='delete';">Eliminar</button>
            <a href="{{url_for('computadores')}}"><button type="button" class="btn btn-secondary">Cerrar</button></a>
            <button type="submit" class="btn btn-primary"
                onclick="document.getElementById('action').value='save';">Guardar
                cambios</button>
        </div>
    </form>
</div>



{% endblock %}