{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_editar_sistema.css') }}">
{% endblock %}

{% block content %}
<h1 class="block-effect" style="--td:0.3s">
    <div class="block-reveal" style="--bc: #2b3034; --d: 0.5s">Sistemas</div>
</h1>
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Sistema</li>
        </ol>
    </nav>
{% endblock %}
<div class="card text-start mb-3">
    <div class="bodyBack">
        <a id="botonBack" href="{{ url_for('index') }}" aria-valuetext="a">
            <i class="bi bi-arrow-left-circle"  style="font-size: 2rem; color: cornflowerblue;"></i>
        </a>
    </div>
    <form id="editForm" method="post" action="{{ url_for('editar_sistema', id_sistema=user_pc['Id_sistema'], id_usuario=user_pc['Id_usuario'], id_pc=user_pc['Id_pc']) }}">
        {{ form.hidden_tag() }}
        <h2>Editar Sistema</h2>
        <p>Asigna un nuevo computador a <b>{{ user_pc['Nombre_user'] }}</b> o cambia el estado del sistema <b>{{ user_pc['Nombre_sistema'] }}</b></p>
        
        <div class="form-floating mb-3">
            {{ form.nuevo_Id_pc(class="form-select", id="nuevo_Id_pc") }}
                <label for="nuevo_Id_pc">Seleccionar Computador</label>
        </div>

        <div class="form-check mb-3" id="checkActivo">
            {{ form.activo(class="form-check-input") }} 
            {{ form.activo.label(class="form-check-label ms-2") }} 
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>

{% endblock %}
