{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_editar_sistema.css') }}">
{% endblock %}

{% block content %}

<div class="card text-start mb-3">
    <div class="bodyBack">
        <a id="botonBack" href="{{ url_for('index') }}" aria-valuetext="a">
            <img id="imgBack" src="{{ url_for('static', filename='img/icon-back.png') }}" alt="icon-back" width="30px">
        </a>
    </div>
    <form id="editForm" method="post" action="{{ url_for('editar_sistema', id_sistema=user_pc['Id_sistema'], id_usuario=user_pc['Id_usuario'], id_pc=user_pc['Id_pc']) }}">
        {{ form.hidden_tag() }} <!-- Asegúrate de que 'form' esté definido -->
        <h2>Editar Sistema</h2>
        <p>Asigna un nuevo computador a <b>{{ user_pc['Nombre_user'] }}</b> o actívale el sistema <b>{{ user_pc['Nombre_sistema'] }}</b></p>
        
        <div class="form-floating mb-3">
            {{ form.nuevo_Id_pc.label(class="form-label") }}
            {{ form.nuevo_Id_pc(class="form-select") }} <!-- Campo de selección de PC -->
        </div>

        <div class="form-floating mb-3">
            {{ form.activo.label(class="form-label") }}
            {{ form.activo(class="form-check-input") }} <!-- Campo de checkbox para estado -->
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>

{% endblock %}
