{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Incluir jQuery primero -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Incluir Select2 después -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<h1>Sistemas</h1>

<div class="head">
    <div class="filtros">
        <form method="get" action="{{ url_for('index') }}">
            <div class="filtroSistema">
                <select class="form-select form-select-sm" name="sistema" aria-label="Selecciona un Sistema">
                    <option value="">Selecciona un Sistema</option>
                    {% for sistema in sistemas %}
                        <option value="{{ sistema['Id_sistema'] }}" {% if request.args.get('sistema') == sistema['Id_sistema'] %} selected {% endif %}>
                            {{ sistema['Nombre_sistema'] }}
                        </option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-success mt-2" type="submit">Filtrar</button>
            </div>
        
            
            <div class="filtroSistema">
                <input class="form-control me-2" type="search" name="search" placeholder="Buscar por nombre de usuario o nombre del PC" aria-label="Search" value="{{ request.args.get('search', '') }}">
                <button class="btn btn-outline-success mt-2" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    <div class="Botones_Sistema">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAgregarSistema">Agregar Nuevo Sistema</button>
    
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModelEliminarSistema">Eliminar Sistema</button>
    </div>
</div>
 
<!-- AGREGAR SISTEMA -->
<div class="modal fade" id="ModalAgregarSistema" tabindex="-1" aria-labelledby="ModalAgregarSistema" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAgregarSistema">Agregar Nuevo Sistema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{ url_for('crear_sistema') }}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="systemName" class="form-label">Nombre del Sistema</label>
                        <input type="text" class="form-control" id="systemName" name="nombre_sistema" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

<!-- ELIMINAR SISTEMA -->
<div class="modal fade" id="ModelEliminarSistema" tabindex="-1" aria-labelledby="ModelEliminarSistema" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModelEliminarSistema">Eliminar Sistema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{ url_for('eliminar_sistema') }}">
                <div class="modal-body">
                    <div class="mb-3">
                        <select class="form-select form-select-sm" name="sistema" aria-label="Selecciona un Sistema" required>
                            <option value="">Selecciona un Sistema</option>
                            {% for sistema in sistemas %}
                                <option value="{{ sistema['Id_sistema'] }}">
                                    {{ sistema['Nombre_sistema'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var editModal = document.getElementById('ModalEditarSistema');
        editModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            
            var idUsuario = button.getAttribute('data-usuario');
            var nombreUsuario = button.getAttribute('data-nombre-usuario');  
            var nombreSistema = button.getAttribute('data-nombre-sistema');  
            var idPc = button.getAttribute('data-pc');
            var nombrePc = button.getAttribute('data-nombre-pc');
            var activo = button.getAttribute('data-activo');
            var sistema = button.getAttribute('data-sistema');
            
            var form = document.getElementById('editForm');
            form.querySelector('#editIdUsuario').value = idUsuario;
            form.querySelector('#editIdPc').value = idPc;
            console.log(sistema);
            form.querySelector('#editar_Sistema').value = sistema;
            form.querySelector('#nombre_pc').value = nombrePc;
            form.querySelector('#editActivo').value = activo;
            form.querySelector('#nombre_sistema').value = nombreSistema;
            
            form.querySelector('#Nombre_Usuario').textContent = nombreUsuario;
            
        });
    });
    </script>

<!-- EDITAR REGISTRO -->
<div class="modal fade" id="ModalEditarSistema" tabindex="-1" aria-labelledby="ModalEditarSistema" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditarSistema">Editar Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editForm" method="post" action="{{ url_for('editar_registro') }}">
                <div class="modal-body">
                    <h3 id="Nombre_Usuario"></h3>
                    <input type="text" id="editIdUsuario" name="Id_usuario">
                    <input type="text" id="editar_Sistema" name="editar_Sistema">
                    <input type="text" id="nombre_sistema" name="nombre_sistema">
                    
                    <div class="mb-3">
                        <label for="selectPc" class="form-label">Seleccionar PC</label>
                        <select id="selectPc" class="form-select" name="nuevo_Id_pc" required>
                            <option value="">Selecciona un PC</option>
                            {% for pc in pcs %}
                                <option value="{{ pc['Id_pc'] }}">{{ pc['Nombre_pc'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="editActivo" class="form-label">Activo</label>
                        <select class="form-select" id="editActivo" name="Activo">
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#selectPc').select2({
            placeholder: 'Selecciona un PC',
            allowClear: true
        });
    });
</script>

{% if request.args.get('sistema') or request.args.get('search') %}
    {% if user_pc_data %}
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Nombre del PC</th>
                    <th>Sistema</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for row in user_pc_data %}
                <tr>
                    <td>{{ row['Nombre_user'] }}</td>
                    <td>{{ row['Nombre_pc'] }}</td>
                    <td>{{ row['Nombre_sistema'] }}</td>
                    <td>{{ 'Sí' if row['Activo'] else 'No' }}</td>
                    <td>{{ row['Id_sistema'] }}</td>
                    <td>
                        <button 
                            class="btn btn-warning" 
                            data-bs-toggle="modal" 
                            data-bs-target="#ModalEditarSistema"
                            data-usuario="{{ row['Id_usuario'] }}"
                            data-nombre-usuario="{{ row['Nombre_user'] }}" 
                            data-nombre-sistema="{{ row['Nombre_sistema']}}"
                            data-pc="{{ row['Id_pc'] }}"
                            data-nombre-pc="{{ row['Nombre_pc'] }}"
                            data-activo="{{ row['Activo'] }}"
                            data-sistema="{{ row['Id_sistema'] }}">
                            Editar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <tr>
        <div class="alert alert-danger" role="alert">
            No existen registros.
        </div>
    </tr>
    {% endif %}
{% else %}
<p>Por favor, selecciona un sistema o realiza una búsqueda para ver los datos.</p>
{% endif %}

{% endblock %}
