{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_reportes.css') }}">
{% endblock %}

{% block title %}Reportes{% endblock %}

{% block content %}
<h1 class="block-effect" style="--td:0.3s">
    <div class="block-reveal" style="--bc: #2b3034; --d: 0.5s">Reportes</div>
</h1>
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('sistema.index') }}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reportes</li>
    </ol>
</nav>
{% endblock %}
<div class="card mb-4">
    <div class="card-body">
        <form method="get" action="{{ url_for('reportes.reportes') }}" id="filtro-form">
            <div class="row g-3 align-items-end">
                <div class="col-md-4">
                    <label for="search" class="form-label">Buscar</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                        <input id="search" class="form-control" type="search" name="search"
                            placeholder="Escribe aqui tu consulta" aria-label="Search"
                            value="{{ request.args.get('search', '') }}">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Busca por Asunto, nombre del Usuario o Numero de solicitud.">
                        <i class="bi bi-question-circle"></i>
                    </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="date-from" class="form-label">Desde</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                        <input id="date-from" class="form-control" type="date" name="date-from" aria-label="date-from"
                            value="{{ request.args.get('date-from', '') }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="date-to" class="form-label">Hasta</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                        <input id="date-to" class="form-control" type="date" name="date-to" aria-label="date-to"
                            value="{{ request.args.get('date-to', '') }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100" type="submit">
                        <i class="bi bi-search me-2"></i>Buscar
                    </button>
    
                    <a class="btn btn-secondary w-100 mt-2" type="button" href="{{ url_for('reportes.reportes') }}">
                        <i class="bi bi-x-circle me-2"></i>Limpiar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mb-4">
    <a href="{{ url_for('reportes.reporte_2') }}" class="btn btn-success">
        <i class="bi bi-plus-circle me-2"></i>Crear Nuevo Reporte
    </a>
</div>



<div class="floating-alert-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if "Please log in to access this page." not in message %}
                <div class="alert alert-{{ category }} alert-dismissible fade show floating-alert" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


{% if reportes %}
<div class="reportes mt-3">
    {% for reporte in reportes %}
    <div class="alert alert-light d-flex justify-content-between align-items-center" role="alert">
        <div class="listReport">
            <strong> <a href="{{ url_for('reportes.ver_reporte', id_reporte=reporte[0]) }}" id="verReporte">Asunto: {{
                    reporte[2] }} - {{ reporte[1] }}</a></strong>
            <h6>{{ reporte[6] }}</h6>
            <p>Fecha: {{ reporte[3] }} </p>
        </div>
    </div>
    {% endfor %}
</div>

<nav class="page" aria-label="Page"></nav>
<ul class="pagination justify-content-center">
    {% if page > 1 %}
    <li class="page-item">
        <a class="page-link" href="{{ url_for('reportes.reportes', page=page-1, categoria=request.args.get('categoria')) }}"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}

    {% if start_page > 1 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('reportes.reportes', page=1) }}">1</a></li>
    {% if start_page > 2 %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
    {% endif %}

    {% for p in range(start_page, end_page + 1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
        <a class="page-link" href="{{ url_for('reportes.reportes', page=p) }}">{{ p
            }}</a>
    </li>
    {% endfor %}

    {% if end_page < total_pages %} {% if end_page < total_pages - 1 %} <li class="page-item disabled"><span
            class="page-link">...</span></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="{{ url_for('reportes.reportes', page=total_pages) }}">{{
                total_pages }}</a></li>
        {% endif %}

        {% if page < total_pages %} <li class="page-item">
            <a class="page-link" href="{{ url_for('reportes.reportes', page=page+1) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
            {% endif %}
</ul>
<br>
</nav>

{% else %}
<div class="alert alert-danger" role="alert">
    No existen reportes.
</div>
{% endif %}

{% endblock %}