{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_verReporte.css')}}">
{% endblock %}

{% block content %}
<h1 class="block-effect" style="--td:0.3s">
    <div class="block-reveal" style="--bc: #2b3034; --d: 0.5s">Reportes</div>
</h1>

<div class="card text-start mb-3">
    <div class="bodyBack">
        <a id="botonBack" href="{{url_for('reportes')}}" aria-valuetext="a">
            <i class="bi bi-arrow-left-circle"  style="font-size: 2rem; color: cornflowerblue;"></i>
        </a>
    </div>
    <div class="report-details" id="ReportDetails">
        <div class="report-details-header">
            <h3>Detalles del Reporte</h3>
        </div>
        <div class="report-details-body">
            <div class="headReporte">
                <h5>Asunto: {{reporte['asunto']}}</h5>
                <p class="fecha">Fecha: {{reporte['fecha']}} <br>De: {{reporte['Nombre_user']}}</p>
            </div>
            <p class="fecha">Fecha de Solución: {{reporte['fecha_solucion']}}</p>
            <hr>
            {% if reporte['archivo'] %}
            <div class="archivoReporte">
                <p><strong>Archivo:</strong> <a href="{{ url_for('uploaded_file', filename=reporte['archivo']) }}"
                        target="_blank">Ver Documento </a></p>
                <hr>
            </div>
            {% endif %}
            
            
            <div class="descripcionReporte">
                
                <p><strong>Descripción:</strong>  </p>
                <div class="descripcion-text">{{ reporte['descripcion'] }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}